.firststeps {
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-size: 20px;
  h1 {
    text-align: center;
  }
  .firststeps__number {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: $purple-color;
    color: white;
    border-radius: 8px;

    p {
      font-weight: bold;
      font-size: 24px;
      line-height: 0.6;
    }
  }
  h3 {
    margin-top: 14px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
  }

  p {
    margin-top: 14px;
    font-size: 15px;
  }

  a {
    text-decoration: underline;
    color: #1264a3;
  }
  .firststeps__functionscontainer {
    display: flex;
    justify-content: center;

    .firststeps__functions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      padding: 2px;
      margin-top: 40px;
      background-color: white;
      width: 60%;

      img {
        margin-top: 12px;
        margin-left: 12px;
        width: 90%;
      }
      p {
        font-size: 14px;
        padding: 8px;
      }
      h2 {
        font-size: 18px;
        padding: 8px;
      }
      a {
        margin-top: 40px;
        padding: 8px;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        &::after {
          padding-left: 40px;
          content: "→";
        }
      }
    }
  }
  .dots__container {
    display: flex;
    justify-content: center;
    .dots {
      margin-top: 30px;
      margin-left: 10px;
      margin-right: 10px;
      background-color: $purple-color;
      height: 12px;
      width: 12px;
      border-radius: 250px;

      &.dots--grey {
        background-color: grey;
      }
    }
  }
}
