.navigator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 34px;
  padding-right: 34px;

  .navigator__logo {
    height: 30%;
  }

  .navigator__menu {
    height: 25%;
  }
}
